*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: black;
  position: relative;
}

header div {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  background-color: #4A4A4A;
  padding: 5px;
}
header div span{
  margin-left: 5px;
}
p{
  color: white;
}
main{
  background-color: black;
  height: calc(100vh - 100px);
  overflow: auto;
}

footer{
  background-color: red;
  height: 100px;
}