*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

header{
  height: 100px;
  background-color: black;

}

header div{
  text-align: right;
}

header div button{
  color: white;
  background-color: #4A4A4A;
  padding: 10px;
  border-radius: 10px;
  margin: 2px 5px 0 5px;
  border: none;
}

main{
  background-color: black;
  height: calc(100vh - 180px);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo{
  position: relative;
  padding: 3px;
  
}

.user{
  position: absolute;
  bottom: 8px;
  left: 3px;
  background-color: #707981;
  color: white;
  padding: 2px;
}

footer{
  background-color:black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left, 
.footer-center, 
.footer-right{
  height: 100%;
}

.footer-left, 
.footer-center{
  display: flex;
}

footer .icon{
  height: 100%;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  color: white;
}

footer .icon i{
  font-size: 1.7rem;
}

footer .icon i.fa-angle-up{
  font-size: 1rem;
}

footer .icon:hover i,
footer .icon.active i{
  color: #46D000;
}

.footer-right button{
  height: 100%;
  padding: 15px;
  background-color: #4A4A4A;
  color: red;
  border: 0;
}