*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: black;

}

header div{
  text-align: right;
}

header div button{
  color: white;
  background-color: #4A4A4A;
  padding: 10px;
  border-radius: 10px;
  margin: 2px 5px 0 5px;
  border: none;
}

main{
  background-color: black;
  height: calc(100vh - 100px);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo{
  position: relative;
  padding: 3px;
  
}

.user{
  position: absolute;
  bottom: 6px;
  left: 0;
  background-color: #707981;
  color: white;
  padding: 2px;
}

footer{
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.symbol{
  font-size: 1.5rem;
  vertical-align: middle;
  color: white;

}

.text-symbol{
  color: white;
}

.start{
  display: flex;
  align-items: center;
  
}
.center{
  width: 50vh;
}

.start ul{
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  align-items: center;
}
.center ul{
  display: flex;
  align-items: center;
}

li{
  list-style: none;
  padding: 5px;
}

.end{
  display: flex;
  align-items: center;
  
}

.end{
  background-color: #4A4A4A;
}
.end span{
  color: red;
}
